<script lang="ts">
	// @ts-ignore
	import ChatsList from "$lib/components/Chats/ChatsList.svelte"
	import History from "$lib/components/Message/MessageSection.svelte"
	import { GetAllChats, CreateNewChat } from "$lib/wailsjs/go/main/App"
	import type { pbfunctions } from "$lib/wailsjs/go/models"
	import { SvelteEasyToast } from "svelte-easy-toast"

	let chats = $state<pbfunctions.Chat[]>([])
	let currentChat = $state<pbfunctions.Chat | null>(null)

	async function getAllChats(): Promise<boolean> {
		try {
			const responseChats = await GetAllChats()
			chats = responseChats
			return true
		} catch (error) {
			console.log(error)
			return false
		}
	}

	async function createNewChat(name: string, model: string): Promise<boolean> {
		try {
			await CreateNewChat(name, model)
			getAllChats
			return true
		} catch (error) {
			console.log(error)
			return false
		}
	}

	$effect(() => {
		;(async () => {
			if (await getAllChats()) {
				currentChat = chats[0]
			}
		})()
	})
</script>

<div class="w-full flex h-lvh">
	<ChatsList
		{chats}
		{currentChat}
		onchatclick={(clickedChat) => (currentChat = clickedChat)}
		onclearchat={() => (currentChat = null)} />
	<History {currentChat} />
</div>

<SvelteEasyToast />
