<script lang="ts">
	import { getRelativeDate } from "$lib/utils"
	import { pbfunctions } from "$lib/wailsjs/go/models"

	let {
		chat,
		isCurrent,
		onchatclick,
	}: {
		chat: pbfunctions.Chat
		isCurrent: boolean
		onchatclick: (clickedChat: pbfunctions.Chat) => void
	} = $props()

	const dateRelative = getRelativeDate(new Date(chat.updated))
	const dateRegular = new Date(chat.updated).toLocaleString()
</script>

<!-- svelte-ignore a11y-click-events-have-key-events a11y-interactive-supports-focus -->
<div
	role="button"
	class={`${isCurrent ? "bg-white/5 text-white/90 flex-col items-stretch" : "hover:bg-white/5 hover:text-white/90 justify-between"} px-2.5 py-[0.2rem] text-[0.95rem] rounded-md flex items-center text-white/80 active:scale-[0.98]`}
	onclick={() => onchatclick(chat)}>
	<p>
		{chat.name}
	</p>
	<p class="text-[0.7rem] text-white/60">
		{#if !isCurrent}
			{dateRelative}
		{:else}
			{dateRegular} : {chat.model}
		{/if}
	</p>
</div>
