<script lang="ts">
	import Button from "./../General/Button.svelte"
	import { pbfunctions } from "$lib/wailsjs/go/models"
	import Chat from "./Chat.svelte"
	import BotSparkle24Regular from "virtual:icons/fluent/sparkle-24-regular"

	let {
		chats,
		currentChat,
		onchatclick,
		onclearchat,
	}: {
		chats: pbfunctions.Chat[]
		currentChat: pbfunctions.Chat | null
		onchatclick: (clickedChat: pbfunctions.Chat) => void
		onclearchat: () => void
	} = $props()
</script>

<section
	class="text-white/90 bg-[#ffffff06] w-5/12 md:w-3/12 p-2 gap-1 flex flex-col mb-2 ml-2 rounded-lg">
	<h1
		class="text-2xl font-grotesque font-[600] my-0.5 mx-1 mt-1 bricolage-grotesque-bold">
		Chattar
	</h1>

	<div class="flex-1 overflow-auto scrollbar-overlay test">
		{#each chats as chat}
			<Chat {chat} isCurrent={currentChat?.id === chat.id} {onchatclick} />
		{:else}
			<p class="text-[0.95rem] mx-1 text-white/80">No chats yet</p>
		{/each}
	</div>

	<Button style="w-full mt-1" onclick={onclearchat}>
		Ny AI-chatt
		<BotSparkle24Regular style="font-size: 0.95rem" />
	</Button>
</section>
