<script lang="ts">
	import type { Snippet } from "svelte"

	let {
		children,
		onclick,
		style = "",
	}: {
		children: Snippet
		onclick?: () => void
		style?: string
	} = $props()
</script>

<button
	class={`bg-white/80 text-black/85 hover:bg-white/90 hover:text-black/95 font-grotesque font-[600] px-6 py-[0.2rem] rounded-md flex justify-center items-center gap-1.5 active:scale-[0.98] ${style}`}
	{onclick}>
	{@render children()}
</button>
