/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    transition: all 0.1s ease-out;
    /* outline: 1px solid red; */
}

body {
    background-color: rgba(0, 0, 0, 0);

    .font-grotesque {
        font-family: "Bricolage Grotesque", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings: "wdth" 100;
    }

    .scrollbar-overlay {
        &::-webkit-scrollbar {
            width: 5px;
            border-radius: 9999px;

            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 9999px;

            &:hover {
                background-color: rgba(255, 255, 255, 0.4);
            }
        }
    }

    pre, code {
        font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    }
}