<script lang="ts">
	import type { pbfunctions } from "$lib/wailsjs/go/models"
	import markdownit from "markdown-it"
	import hljs from "highlight.js"
	import { getRelativeDate } from "$lib/utils"

	let {
		message,
		model,
	}: {
		message: pbfunctions.History
		model: string
	} = $props()

	const messageStyles = {
		user: {
			container: "bg-white/5 text-white/90 float-right",
			markdown:
				"*:text-white/80 [&_pre]:bg-white/5 [&_pre]:mt-2 [&_:not(pre)_code]:bg-white/5 [&_:not(pre)_code]:rounded-md [&_:not(pre)_code]:p-0.5 [&_:not(pre)_code]:text-white/80",
			codeButton:
				"absolute right-1 top-1 bg-white/10 w-6 h-6 rounded-md hover:bg-white/15 flex justify-center items-center",
			date: "text-white/60",
		},
		bot: {
			container: "bg-white/80 text-black/95 float-left",
			markdown:
				"*:text-black/85 [&_pre]:bg-black/5 [&_pre]:mt-2 [&_:not(pre)_code]:bg-black/5 [&_:not(pre)_code]:rounded-md [&_:not(pre)_code]:p-0.5",
			codeButton:
				"absolute right-1 top-1 bg-black/10 w-6 h-6 rounded-md hover:bg-black/15 flex justify-center items-center",
			date: "text-black/80",
		},
	}
	const author = $derived(message.author === "user" ? "You" : model)
	const dateRelative = getRelativeDate(new Date(message.updated))

	function parseMessage(): string {
		const md: any = markdownit({
			highlight: function (code, lang) {
				if (lang && hljs.getLanguage(lang)) {
					return `<pre class="hljs ${message.author === "user" ? "dark" : ""} relative"><button class="${messageStyles[message.author as keyof typeof messageStyles].codeButton} active:scale-[0.95]" onclick='navigator.clipboard.writeText(event.target.nextElementSibling.innerText)'><svg viewBox="0 0 24 24" width="1.2em" height="1.2em" style="font-size: 0.85rem;"><path fill="currentColor" d="M8.379 5.5H6.25a.75.75 0 0 0-.75.75v13.5c0 .414.336.75.75.75h11.5a.75.75 0 0 0 .75-.75V6.25a.75.75 0 0 0-.75-.75h-2.129c-.404.603-1.09 1-1.871 1h-3.5c-.78 0-1.467-.397-1.871-1M15.986 4h1.764A2.25 2.25 0 0 1 20 6.25v13.5A2.25 2.25 0 0 1 17.75 22H6.25A2.25 2.25 0 0 1 4 19.75V6.25A2.25 2.25 0 0 1 6.25 4h1.764a2.25 2.25 0 0 1 2.236-2h3.5a2.25 2.25 0 0 1 2.236 2M9.5 4.25c0 .414.336.75.75.75h3.5a.75.75 0 0 0 0-1.5h-3.5a.75.75 0 0 0-.75.75"></path><!----></svg></button><code>${hljs.highlight(code, { language: lang, ignoreIllegals: true }).value}</code></pre`
				}
				return ""
			},
		})
		return md.render(message.content)
	}
</script>

<div
	class={`clear-both w-fit rounded-md px-4 py-2 ${messageStyles[message.author as keyof typeof messageStyles].container}`}>
	<h3 class="font-[700] text-[1.05rem] font-grotesque -mb-1">
		{author}
	</h3>
	<div
		class={`prose ${messageStyles[message.author as keyof typeof messageStyles].markdown}`}>
		{@html parseMessage()}
	</div>
	<p
		class={`text-xs mt-1 ${messageStyles[message.author as keyof typeof messageStyles].date}`}>
		{dateRelative}
	</p>
</div>
