<script lang="ts">
	import {
		GetHistoryFromChat,
		SendMessageInChat,
	} from "$lib/wailsjs/go/main/App"
	import type { pbfunctions } from "$lib/wailsjs/go/models"
	import Button from "../General/Button.svelte"
	import Message from "./Message.svelte"
	import BotSparkle24Regular from "virtual:icons/fluent/sparkle-24-regular"
	// @ts-ignore
	import MessageInput from "./MessageInput.svelte"

	let {
		currentChat,
	}: {
		currentChat: pbfunctions.Chat | null
	} = $props()

	let chatHistory = $state<pbfunctions.History[]>([])

	async function getHistory() {
		try {
			const responseHistory = await GetHistoryFromChat(currentChat!.id)
			chatHistory = responseHistory
		} catch (error) {
			console.log(error)
		}
	}

	$effect(() => {
		if (currentChat !== null) {
			getHistory()
		}
	})
</script>

<section class="text-white/80 w-full pt-2 pl-4 pr-3 flex flex-col">
	<div class="mr-2">
		<h1
			class="float-left text-2xl text-white/90 font-grotesque font-[600] bricolage-grotesque-bold mt-1 mb-1.5">
			{currentChat?.name.toLowerCase().replace(/\b\w/g, (s) => s.toUpperCase())}
		</h1>
		<h3 class="float-right">
			{currentChat?.model}
		</h3>
	</div>

	<div
		class="space-y-2 overflow-y-auto overflow-x-hidden scrollbar-overlay pr-1 h-full mb-2 pb-2">
		{#if currentChat !== null}
			{#each chatHistory as message}
				<Message {message} model={currentChat.model} />
			{:else}
				<p>Inga meddeladen än</p>
			{/each}
		{:else}
			<Button onclick={() => (currentChat = null)}>
				Ny AI-chatt
				<BotSparkle24Regular style="font-size: 0.95rem" />
			</Button>
		{/if}
	</div>

	<MessageInput {currentChat} {getHistory} />
</section>
