<script lang="ts">
	import ollama from "ollama/browser"
	import Send24Filled from "virtual:icons/fluent/send-24-filled"
	import { SendMessageInChat } from "$lib/wailsjs/go/main/App"
	import type { pbfunctions } from "$lib/wailsjs/go/models"
	import { toast } from "svelte-easy-toast"
	import Button from "../General/Button.svelte"
	// @ts-ignore
	import autosize from "svelte-autosize"
	import { tick } from "svelte"
	import { scrollToBottom } from "$lib/utils"

	let {
		currentChat,
		getHistory,
	}: {
		currentChat: pbfunctions.Chat | null
		getHistory: () => void
	} = $props()

	let message = $state("")
	let textArea = $state<HTMLTextAreaElement>()
	let messageForm = $state<HTMLFormElement>()

	async function sendMessageInChat() {
		if (message.trim() !== "") {
			await SendMessageInChat(
				message.trim(),
				"user",
				currentChat!.id,
				currentChat!.model,
			)
			getHistory()
			message = ""
			await tick()
			scrollToBottom(messageForm?.previousElementSibling!, "smooth", 5)
			autosize.update(textArea)
		} else {
			toast({
				type: "error",
				position: "top-right",
				text: "Please enter a message and try again.",
				title: "Message not sent",
				delay: 5000,
				closeOnClick: true,
				showClose: false,
			})
		}
	}
</script>

<form
	class="flex relative mb-2 h-auto"
	onsubmit={sendMessageInChat}
	bind:this={messageForm}>
	<textarea
		class="text-white/80 max-h-96 transition-none min-h-[2.9rem] py-2 scrollbar-overlay bg-white/5 rounded-md text-[0.95rem] flex-1 w-20 pr-20 focus:outline focus:outline-white/70 px-3 focus:outline-2"
		bind:value={message}
		use:autosize
		bind:this={textArea}
		rows="1"
		placeholder={`Message ${currentChat?.model}...`}
		onkeydown={(e: KeyboardEvent) => {
    if (e.key === "Enter" && e.ctrlKey) {
	sendMessageInChat();
    }
}}
	></textarea>
	<Button style="w-fit absolute right-2 bottom-2">
		Send
		<Send24Filled style="font-size: 0.85rem" />
	</Button>
</form>
